/************************************************************************ GENERAL **********************************************************************/
:root{
font-family: "Poppins", sans-serif;
}

*{
    margin:0;
}

/* COLORS */
.whiteColor{
    color:white;
}

.darkGreyColor{
    color:#3B3B3B;
}

.lightGreyColor{
    color:grey;
    font-size:1em;
    font-weight: 200;
}

/* SECTIONS TITLES */
h3{
    padding-top:30px;
    padding-bottom:15px;
    font-weight:600;
    font-size:2em;
    text-align: center;
}

/************************************************************************* SCROLL TO TOP BUTTON *********************************************************************/

#upButton{
    height:50px;
    width:50px;
    position:fixed;
    opacity:1;
    z-index:2;
    bottom:100px;
    right:100px;
    opacity:0.7;
}

#upButton:hover{
    cursor: pointer;
    opacity:1;
}

#upButton:active{
    opacity:1;
    transform: scale(1.3);
}

/************************************************************************* HEADER **************************************************************/

header{
    height:100vh;
    overflow:auto;
    background: rgb(81,219,255);
    background: radial-gradient(circle, rgba(81,219,255,0.3533614129245448) 0%, rgba(73,205,232,1) 100%);
    padding-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
}

/******************************** LINKS (all) AT TOP OF THE HEADER  */

#topPageLinks{
    display: flex;
    justify-content: space-around;
    margin-bottom:30px;
}

/********************************** HEADER: MAIN LINKS */
nav{
    display:flex;
    width:50%;
    justify-content: space-around;
    margin:auto;
}

#mainLinks a{
    text-decoration: none;
}

nav a:hover{
    color:rgb(4,139,154);
}

#kucra{
    padding-left:100px;
    margin:0;
    font-size:1em;
    font-weight:600;
}

#kucra a:hover{
    color:rgb(4,139,154);
}

#kucra a{
    text-decoration: none;
}

/************************************* HEADER: SOCIAL MEDIA LINKS */
.headerI{
    margin:auto;
    color:white;
    width:50%;
}

ul{
    display: flex;
    justify-content: space-around;
    width: 150px;
    padding-right:40px;
    margin-top: auto;
    margin-bottom: auto;
}

a .headerI:hover{
    color:rgb(4,139,154);
}

li{
    list-style-type: none;
}

/********************************************** IMAGE */
img{
    width:50%;
}

/********************************************* ARTICLE */
#wrapperHeaderArticle{
    width:100%;
    display: flex;
    justify-content: space-around;
    padding-top:70px;
}

h2{
    font-weight: 700;
    font-size: 3em;
    margin-bottom: 20px;
    margin-top:50px;
}

/************************************** FORM & SUBMIT BUTTON*/
#form{
    position:absolute;
    margin-top: 20px;
}

#email{
    position :relative;
    z-index:1;
    width:340px;
    height:45px;
    border-radius:30px;
    border:none;
    padding-left:20px;
    font-size:16px;
    font-weight:200;
}

#submitButton{
    position:relative;
    z-index: 2;
    left: 232px;
    top:-46px;
    height: 40px;
    width: 120px;
    border-radius: 20px;
    background-color:rgb(4,139,154);
    border:0;
    font-size:1em;
    font-weight:300;
    margin:3px;
    color:white;
}

#submitButton:hover{
    cursor:pointer;
    font-weight:500;
}

#submitButton:active{
   background-color: rgb(1, 202, 224);
   transform: scale(1.3);
}

/************************************************ MEDIAS QUERIES - MOBILE */
@media only screen and (max-width: 320px){

}

/************************************************* MEDIAS QUUERIES - TABLETS */
@media only screen and (max-width: 600px){

}


/* ************************************************************FEATURES****************************************************************** */

#featuresContainer{
    display:flex;
    justify-content:center;
    gap:20px;
    height:300px;
    padding-bottom: 200px;
}


#intro{
    color:grey;
    margin:0px;
}

.featuresArticle{
    background: rgb(81,219,255);
    background: radial-gradient(circle, rgba(81,219,255,0.3533614129245448) 0%, rgba(73,205,232,1) 100%);
    width:300px;
    height:100%;
    border-radius:10px;
    display:flex;
    flex-direction: column;
    text-align: center;
    margin-top: 60px;
    padding:20px;
}

 .featuresParagraphs{
    font-weight: 300;
    text-align: center;
}

.featuresH3Title{
    font-size:24px;
    font-weight: 300;
    margin-top:0px;
    margin-bottom:0px;
}
#chest,#brush,#globe{
    width:50px;
    height:50px;
    margin:auto;
}

.text{
    padding-bottom:50px;
}

/* ******************************************************** SECTION TEAM************************************************************* */

/************************************************** GENERAL */
#teamWrapper{
    background-color: white;
    padding:30px;
}

#teamContainer{
    display:flex;
    justify-content: center;
}

.teamMember{
    margin-top:50px;
    width:15%;
    position:relative;
}

.teamMember,#teamWrapper p{
    text-align: center;
}

/********************************************* PARAGRAPH (light grey sentence)*/

#teamWrapper p{
    margin-bottom: 0px;
    margin-top: 0px;
}

/********************************************** NUMBERS */
.result{
    font-size:18px;
}
/********************************************** IMAGE */

#teamWrapper img{
    width: 150px;
    border-radius: 100px;
    filter:grayscale(100%);
    margin-top: 30px;
  }
/********************************************** TEAM MEMBERS NAMES */

.name{
    font-size:14px;
}

/**********************************************TEAM MEMBER SOCIAL MEDIAS */

.teamMemberSocialMedias{
    position:absolute;
    top: 230px;
    left: 50px;
}

.teamMemberSocialMedias a{
    display: none;
    margin-left:10px;
    margin-right:10px;
    color:rgb(23, 189, 222)
    }

/* ********************************************* HOVER */
/* SOCIAL MEDIAS LINKS APPEAR WHEN HOVERING */
.teamMember:hover a{
    display: inline;
    cursor:pointer;
}
/* TEAM MEMBER PICTURE AND INFO SIZE UP */
.teamMember:hover {
    transform: scale(1.3);
}
/* TEAM MEMBER PICTURE GOES FROM GRAYSCALE TO COLORS */
#teamWrapper img:hover{
    filter:none;
}
   
    /* A FAIRE : APPARITION ICÔNES RESEAUX SOCIAUX */


/****************************************************** PARALLAX ***********************************************************/

/************************GENERAL*/

#parallaxWrapper{
    display: flex;
    justify-content: center;
    padding-top:50px;
    padding-bottom: 50px;
}

/**************************PARALLAX / IMAGE*/

#parallaxContainer{
    background:#000000;
    height:500px;
    margin:auto;
    width:100%;
    position:relative;
}

#parallaxContainer:before{
    content: '';
    background-image:url(img_landingPage/parallax.png);
    background-size:cover;
    background-attachment: fixed;
    background-position: center; 
    background-repeat: no-repeat;
    transition:0.5s;
    display: inline-block;
    height:500px;
    width:100%;
    position:relative;
    z-index:1;
    margin:auto;
}

#parallaxContainer:hover:before{
    opacity:0.5;
}

/**********************************PARALLAX / TEXTE */

#textOnImg{
    position:absolute;
    left:0;top:0;
    opacity:0;
    transition:0.5s;
    z-index:2;
    width:100%;
    top:40%;
    color:white;
    text-align: center;
}


#parallaxContainer:hover #textOnImg{
    opacity:1;
}

#parallaxWrapper p{
    font-weight:200;
    padding-top:20px;
}
/****************************************BUTTON  */

#parallaxWrapper #button{
    width:150px;
    height:50px;
    font-size:16px;
    color:white;
    margin-top:30px;
    background-color: rgba(0,0,0,0);
    border-radius: 5px;
    border:1px white solid;
}

#parallaxWrapper #button:hover{
    cursor: pointer;
    transform: scale(1.3);
}

#parallaxWrapper #button:active{
    background-color: rgba(0,0,0,0.2);
}


/****************************************************** SECTION BLOG *********************************************************/

#blogWrapper{
    width:100%;
    height:450px;
    display:flex;
    gap:40px;
    justify-content: center;
    padding-bottom:100px;
}

article{
    text-align:left;
    width:400px;
    height:300px;
    position:relative;
}

#article1:before{
    content:'';
    background:url('img_landingPage/blog1.png');
    background-size:cover;
    background-position:50% 100%;
    transition:0.5s;
    display:inline-block;
    height:100%;
    width:100%;
    position:relative;
    z-index:1;
    border-radius:5px;
}

#article2:before{
    content:'';
    background:url('img_landingPage/blog2.png');
    background-size:cover;
    background-position:50% 100%;
    transition:0.5s;
    display:inline-block;
    height:100%;
    width:100%;
    position:relative;
    z-index:1;
    border-radius:5px;
}

#article3:before{
    content:'';
    background:url('img_landingPage/blog3.png');
    background-size:cover;
    background-position:50% 100%;
    transition:0.5s;
    display:inline-block;
    height:100%;
    width:100%;
    position:relative;
    z-index:1;
    border-radius:5px;
}

.textOnImgSection4{
    position:absolute;
    left:0;top:0;
    opacity:0;
    transition:0.5s;
    z-index:2;
    padding:30px;
    color:white;
}

article:hover:before{
    filter:brightness(0.6);
}

article:hover .textOnImgSection4{
    opacity:1;
}

.blogPicture{
    width:100%;
    border-radius: 5px;
}

.fa-sharp{
    color:white;
}

.textUnderImage a{
    color:rgb(81,219,255);
    text-decoration: none;

}

/* *************************************************** PRICING SECTION ********************************************************************** */

/************************************* CREATIVITY */
#pricingWrapper{
    width:90%;
    display:flex;
    justify-content: center;
}

figure{
    width:30%;
    padding-left:50px; 
}

#creativity{
    width:100%;
    padding-left: 50px;
}

#creativityArticle{
    display:flex;
    flex-direction: column;
    width:40%;
}

.paddingBottom{
    padding-bottom:30px;
}

#pricingButton{
    width:120px;
    height:40px;
    background-color: rgb(81,219,255);
    color:white;
    border:none;
    border-radius:5px;
    margin-top:30px;
}

#pricingButton:hover{
    cursor:pointer;
    transform: scale(1.3);

}

#pricingButton:active{
    background-color:rgb(6, 135, 168);
   
}

#statsPricingSection{
    display:flex;
    gap:30px;
    padding-top:30px;
}

#statsText{
    display:flex;
    flex-direction: column;
}

/***************************************** PRICES */

#pricingCardsWrapper{
    margin-top:100px;
    width:90%;
    height:800px;
    display:flex;
    background-color:#E8E8E8;
    text-align: center;
    justify-content: center;
    position:relative;
    margin-left:auto;
    margin-right:auto;
}

#introPricing{
    text-align: center;
    height:20px;
    width:100%;
    position:absolute;
    top:50px;
}

#pricingCards{
    display:flex;
    gap:100px;
    width:80%;
    justify-content: center;
    padding-top: 100px;
    position:relative;
    top:100px;
    height:500px;
}

.pricingCard{
    width:20%;
    background-color: white;
    height:90%;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    padding-right:20px;
    padding-left:20px;
    box-shadow: 1px 14px 35px -8px rgba(0,0,0,0.75);
    
}

.line{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding-bottom:5px;
}

.fa-circle-check{
    color:green;
    margin:0px;
}

.fa-circle-xmark{
    color:red;
}

.price{
    font-size: 3em;
    color:rgb(81,219,255);
}

.perMonth{
    width:30%;
  
}
.priceBox{
    display:flex;
    justify-content: center;
    align-items: baseline;
    padding-bottom:40px;
}

.joinNowButton{
    background-color:rgb(81,219,255);
    color:white;
    width:80%;
    height:10%;
    margin-left:auto;
    margin-right: auto;
    margin-top: 25px;
    border:0;
    border-radius: 5px;
}

.joinNowButton:hover{
    cursor: pointer;
    transform: scale(1.3);
}

.joinNowButton:active{
    background-color:rgb(6, 135, 168);
}

h4{
    padding:25px;
}



/************************************************************************** FOOTER ***************************************************************/

footer{
text-align: center;
background-color: rgb(24, 23, 23);
padding:80px;
}

.circle{
    width:20px;
    height:20px;
    border-radius: 30px;
    border:solid 1px grey;
    display: inline-block;   
    padding: 10px;
    margin:20px;
}

#legalNotice{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

#legalNotice a{
    margin:20px;
}

.separator{
    width:10px;
}

#small{
    padding:20px;
}

#legalNotice a:hover{
    cursor:pointer;
}

.circle a:hover,.circle:hover{
    cursor:pointer;
    transform: scale(1.3);
}