/* *********************************************************************** DARK MODE ******************************************************************************* */
/* ********* DARK MODE BUTTON ************* */

#darkModeButton{
    background-color: #000000;
    color: #E8E8E8;
    border:none;
    font-size: 0.8em;
    font-weight:600;
}

#darkModeButton:hover{
    cursor:pointer;
    transform: scale(1.5);
    -webkit-transform:scale(1.5);
}

#darkModeButton:focus{
    outline: 2px solid white;
    outline-offset: 2px;    
}
/* *********** DARK MODE STYLES ************ */

/* HEADER */
.dark-mode{
    background-color: black;
}

.dark-mode header{
    background-color: #000000;
    background: black;
    }

.dark-mode #topPageLinks .mainLinks{
    background-color: #3B3B3B;
}

.dark-mode #topPageLinks .mainLinks a{
    color:rgb(81,219,255);
}

.dark-mode ul li i{
    color:rgb(81,219,255);
}

.dark-mode .darkGreyColor{
    color:white;
}

.dark-mode .lightGreyColor{
    color:rgb(81,219,255);
}

.dark-mode #wrapperHeaderArticle p{
    color:rgb(81,219,255);
}

.dark-mode #email{
    color:black;
}

.dark-mode #submitButton{
    background-color:rgb(81,219,255);
}

/* FEATURES */

.dark-mode .featuresArticle{
    background:#3B3B3B;
}

.dark-mode #globe, .dark-mode #brush, .dark-mode #chest{
    color:rgb(81,219,255);
}

.dark-mode .featuresParagraphs{
    color:rgb(81,219,255);
}

/* TEAM */

.dark-mode #teamWrapper h3,.dark-mode #teamWrapper p,.dark-mode #teamWrapper #teamContainer{
    background-color: #000000;
}

.dark-mode #teamWrapper{
    background-color: #000000;
}
/* CREATIVITY */

.dark-mode #statsPricingSection p{
    color:white;
}

/* PRICING */

.dark-mode #pricingArticle{
    background-color: #3B3B3B;
}

.dark-mode .pricingCard{
    background-color: black;
}

.dark-mode .pricingCard .line{
    color: white;
}

.dark-mode .fa-circle-check{
    color:greenyellow;
}